.carousel{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    box-sizing: border-box; 
    padding: 5px 15px;
    width: 100%;
}

.titles{
    align-items: center;
    padding: 5px 0px;
    /* border: 1px solid black; */
    font-size: 2em;
    font-weight: 1000;
    justify-content: center;
}
.jewelrycontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* border: 1px solid black;  */

}

.jewelry{
    display: flex;
    width: 350px;
    height:180px;
    flex: 1 1 1;
    flex-direction: column;
    justify-content: center;
    background-color:#F8F8F8;
    padding:10px;
    margin: 20px;
    align-items: center;
    /* border: 1px solid green; */
}

.jewelryimg{
    height:90px;
    width: 90px;
    border-radius: 45px;
    margin-bottom: 15px;
}

.jewelryname p{
    font-weight:1000;
    font-size:1em;
}

.footer{
    display: flex;
    background-color: #1D1E25;
    font-size: 15px;
    color: white;
    min-height: 20vh;
    padding:10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}
.logoimg{
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    /* border: 2px solid blue; */
    width: auto;
}
.logoimg img{
    height: 65px;
    width: 65px;
}

.list{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    /* border: 2px solid red; */
}

.listitems{
    display:flex;
    flex-wrap: wrap;
    color: #A0A0A0;
    /* border: 2px solid green;  */
    margin: 5px auto;
    padding: 0px 15px;

}
.listitems a{
    color: #A0A0A0;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    flex-wrap: wrap;
}
.list2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    /* border: 2px solid red; */
    box-sizing: border-box; 

}
.listitems2{
    display: flex;
    flex-direction: column;
    color: #A0A0A0;
    align-items: flex-start;
    justify-content: space-evenly;
    /* border: 2px solid yellow; */
    box-sizing: border-box; 
    flex-wrap: wrap;
}

.listitems2 p{
    display: flex;
    justify-content: flex-start;
    padding: 0px 10px;
    /* border: 2px solid white; */
    color: #A0A0A0;
    text-align: start;
    flex-wrap: wrap;
}

.listitems2 p a{
    color: #A0A0A0;
    text-decoration: none;
}

a:hover{
    color: white;
}

p a:hover {
    color: white;
}